title: "uQCme - Microbial QC Reporter"
version: "0.2.0"

qc:
  input:
    data:
      file: "./input/example/run_data.tsv"
    mapping: "./input/example/mapping.yaml"
    qc_rules: "./input/example/QC_rules.tsv"
    qc_tests: "./input/example/QC_tests.tsv"
  output:
    results: "./output/example/uQCme_run_data.tsv"
    warnings: "./output/example/uQCme_rule_warnings.tsv"

app:
  server:
    host: "127.0.0.1"
    port: 8501
  input:
    data:
      file: "./output/example/uQCme_run_data.tsv" # can also load via an API, only 1 can be enabled
      api_call: ""
    mapping: "./input/example/mapping.yaml"
    qc_rules: "./input/example/QC_rules.tsv"
    qc_tests: "./input/example/QC_tests.tsv"
    warnings: "./output/example/uQCme_rule_warnings.tsv"
  dashboard:
    categorical_filter_threshold: 20  # Max unique values for dropdown filter
    section_toggle_columns: 3         # Number of columns for section toggles
    max_displayed_rules: 10           # Max rules shown in sample details
  ui_styling:
  priority_colors:
    1: "#90EE90"
    2: "#FFFFE0"
    3: "#F08080"
    4: "#FFB6C1"
log:
  file: "./log/log.tsv"


